<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Essay Submission</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="blackBox.css">
    <style>
        body {
            background-color: #e0e0e0;
        }
        #essayText{
            background-color: #ffffff;
            width: 40%;
            height: 350px;
        }
    </style>
</head>
<body>
    <form method="post" action="/submit-essay">
    <div class="container">
        <h1 class="header">Essay Text</h1>
        <p>
          <textarea id="essayText" name="essayText" rows="50" cols="100"></textarea>
        </p>
    <button type="submit"><i class="material-icons right">arrow_forward</i>Submit</button>
    </div>
    </form>
</body>
</html>